.-kk-education {
    height: 345px;
    box-sizing: border-box;    
    background: #e4ae58;
    font-weight: 14px;
}

.-kk-education_pad {
    padding: 40px;
}

.-kk-education__title {
    margin: 0 0 15px;
    font-size: 2.5em;    
    font-weight: 300;
}

.-kk-education__title_light {
    color: #ffffff;
}

.-kk-education__under-title {    
    display: block;
    margin: 10px 0 45px;
    color: #ffffff;    
}

.-kk-education__vacation {
    position: relative;
    display: inline-block;
    margin-left: 80px;
    color: #fff;
    font-size: 1.3em;
}

.-kk-education__date {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
}

.-kk-education__description {
    display: block;
    margin: 10px 0 30px 80px;
    color: #ffffff;    
}
@media (max-width: 640px) {
.-kk-education
    { height: auto;}
    
.-kk-education__date {   
    margin-left: 80px;
    margin-top: 10px;
}    
    }