.stimulus {
    height: 100%;
    background: url(../img/home-img.jpg);
    background-position: 65% 50%;
    background-size: cover;    
}

.stimulus__logo {
    position: absolute;
    top: 20px;
    left: 10%;
    font-weight: 700;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 white; 
}