body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container__stimulus {
    width: 50%;
    height: 100vh;
}

.stimulus {
    height: 100%;
    background: url(../img/home-img.jpg);
    background-size: cover;
    background-position: 65% 50%;
}

.container__started {
    width: 50%;
    height: 100vh;
}

.started {

    height: 100%;
    background: #f0e2d7;
}

.container__donec {
    width: 50%;
}

.donec {
    height: 345px;
    box-sizing: border-box;
    background: #ffffff;
}

.donec__title {
    font-size: 3em;
    line-height: 2em;
    font-weight: 300;
}

.donec__title_dark {
    color: #2e3933;
}

.donec__under-title {
    font-size: 1.2em;
    color: #e4ae58;
}

.container__myphoto {
    width: 25%;
}

.myphoto {
    height: 345px;
    background: url(../img/about-img.jpg) 50% 0%;
    background-repeat: no-repeat;
    background-size: 1150px;

}

.container__skills {
    width: 25%;
}

.skills {
    box-sizing: border-box;
    height: 345px;
    background: #e4ae58;
}

.skills__title {
    font-size: 3em;
    line-height: 2em;
    font-weight: 300;
}

.skills__title_light {
    color: #ffffff;
}

.skills__under-title {
    color: #ffffff;
}

.container__myskill {
    width: 25%;
    font-size: 18px;

}

.myskill {
    text-align: center;
    height: 340px;
}

.myskill_design {
    background: #e4ae58;

}

.myskill_strategy {
    background: #e9714c;

}

.myskill_app {
    background: #000000;

}

.myskill_coding {
    background: #ffffff;
}

.myskill__icon {
    width: 48px;
    height: 48px;
}

.myskill__icon_design {
    width: 48px;
    height: 48px;
}

.myskill__icon_strategy {
    width: 48px;
    height: 48px;
}

.myskill__app {
    width: 48px;
    height: 48px;
}

.myskill__coding {
    width: 48px;
    height: 48px;
}


.myskill__title {
    color: #ffffff;
    margin: 20px;
    font-size: 1.5em;
}

.myskill__description {
    color: #ffffff;
    margin: 20px;
}

.myskill__title_dark {
    color: #000000;
    margin: 20px;
}

.myskill__description_dark {
    color: #000000;
    margin: 20px;
}

.container__mobile-photo {
    width: 50%;
}

.mobile-photo {
    height: 360px;
    background: url(../img/experience-img.jpg) 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container__experience {
    width: 50%;
}

.experience {
    box-sizing: border-box;
    height: 360px;
    background: #e9714c;
}

.experience__title {
    font-size: 3em;
    line-height: 2em;
    font-weight: 300;
}

.experience__title_light {
    color: #ffffff;
}

.experience__under-title {
    font-size: 1.2em;
    color: #ffffff;
}

.container__education {
    width: 50%;
}

.education {
    box-sizing: border-box;
    ;
    height: 445px;
    background: #e4ae58;
    color: #ffffff;

}

.education__title {
    font-size: 3em;
    line-height: 2em;
    font-weight: 300;
}

.education__title_light {
    color: #ffffff;
}

.education__under-title {
    font-size: 1.2em;
    color: #ffffff;
}

.container__notebook-photo {
    width: 50%;
}

.notebook-photo {
    height: 445px;
    background: url(../img/education-img.jpg) 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;

}

.container__star {
    width: 100%;
}

.star {
    background: #808080;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/quotes-bg.jpg) 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}


.star__title {
    width: 50%;
    margin: 0 auto;
    font-size: 3em;
    line-height: 1em;
    font-weight: 300;

}

.star__title_light {
    color: #ffffff;
}

.star__under-title {
    margin-top: 30px;
    color: #ffffff;
}



.container__say-hello {
    width: 50%;
}

.say-hello {
    height: 615px;
    box-sizing: border-box;
    background: #e9714c;
}

.say-hello__title {
    font-size: 3em;
    line-height: 2em;
    font-weight: 300;
}

.say-hello__title_dark {
    color: #2e3933;
}

.say-hello__under-title {
    font-size: 1.2em;
    color: #2e3933;
}

.container__work {
    width: 25%;
}

.work {
    height: 615px;
    background: url(../img/contact-img.jpg) 50%;
    background-size: cover;
}

.container__contact {
    width: 25%;
}

.contact {
    height: 615px;
    box-sizing: border-box;
    background: #161616;
}

.contact__title {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 2.5;
}

.contact__under-title {
    color: #807e7f;
}

.contact__infolines {
    color: #807e7f;
    line-height: 2;
}

.contact__infolines_link {
    color: #ac894f;
}

.contact__infolines_link:hover {
    color: #d4a961;
}

.container__copyrights {
    width: 100%;
}


.copyrights {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
    background: #ffffff;

}

.copyright__credits {
    color: #807e7f;
}

.copyright__credits_link {
    color: #e4ca5c;
}

.copyright__credits_link:hover {
    color: #99873b;
}

.copyright__socials {
    margin-top: 30px;
    height: 16px;
}
